---
---

.pagination a, .pagination span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
}

.pagination a {    
  &:hover {
      background-color: #f1f1f1;
      color: #333;
  }
}

.pagination {
  text-align: center;
}

article {
  padding: 10px;
  margin: 10px;
  display: flex;
  width: 150px;
}

.sml_image {
  object-fit: cover;
  width: 250px;
  height: 250px;

  margin-left: auto;
  margin-right: auto;
  display: inline;
}

.wrapper {
  width: 1060px;
}

header {
  width: 200px;
}

section {
  width: 800px;
}

.grid {
  display: flex;
 }
.col-1-2 {
  flex: 1;
}
.cole-1-2:last-child {
  margin-left: 20px;
}
